<div *ngIf="movie" class="row">
    <div class="col-md-12">
      <h2 *ngIf="movie._id">Nomination Details</h2>
    </div>
</div>
<div class="col-md-5 col-md-offset-2">
<movie-details
    [grabHandler]="grabMovie">
</movie-details>

</div>
<div *ngIf="movie" class="row">
    <ul class="list-group">
        <li class="list-group-item">
            {{movie.name}}<br>
            <br>category: {{movie.category}}
            <br>film: {{movie.film}}
            <br>ceremony year: {{movie.year_ceremony}}
            <br>winner: {{movie.winner}}
      </li>
    </ul>
</div>