  <!-- Toolbar -->
  <div class="toolbar" role="banner">
    <div class="spacer"></div>
    <h1>Cinepede</h1>
    <div class="spacer"></div>
  </div>


<div class="container">
  <movie-list></movie-list>
</div>

<div class="content" role="main">

  <!-- Footer -->
  <footer>
    <div class="spacer"></div>
      Enjoying Cinepede?&nbsp;
      <a href="https://venmo.com/Mikaela-Williams-7" target="_blank" rel="noopener"> Donate to Mikaela's venmo.</a>
      <div class="spacer"></div>
  </footer>


</div>