<div class="row">
    <div class="col-md-5">
      <h2>Oscar Nominees</h2>
      <span>
      <label for ="year">Year:</label>
      <select name="year"  size="1" id="year">
        <option value="2019">2019</option>
        <option value="2018">2018</option>
        <option value="2017">2017</option>
        <option value="2016">2016</option>
        <option value="2015">2015</option>
        <option value="2014">2014</option>
        <option value="2013">2013</option>
        <option value="2012">2012</option>
        <option value="2011">2011</option>
        <option value="2010">2010</option>
        <option value="2009">2009</option>
        <option value="2008">2008</option>
      </select>
      </span>
      <span>
        <label for ="Search">Category:</label>
        <input class="SearchBar" type="text" placeholder="Search" aria-Label="SearchBar">
        <button mdbBtn size="sm" class="Searchbutton" mdbWavesEffect type="submit">Go!</button>
      </span>
      <div class="scrollable">
      <ul class="list-group">
        <li class="list-group-item"
          *ngFor="let movie of movies"
          (click)="selectMovie(movie)"
          [class.active]="movie === selectedMovie">
          {{movie.name}}
        </li>
      </ul>
      </div>
    </div>
    <div class="col-md-5 col-md-offset-2">
    <movie-details
        [movie]="selectedMovie">
    </movie-details>
    </div>
</div>