/* You can add global styles to this file, and also import other style files */
.scrollable {
    height: 525px; 
    overflow-y: auto;
    }
.scrollable-short {
        height: 200px; 
        overflow-y: auto;
        }
.toolbar {
    display: flex;
    align-items: center;
    background-color: #7ac468;
    color: white;
    font-weight: 600;
}
.spacer {
    flex: 1;
    }
footer {
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    position: fixed;
    display: flex;
    background-color: #7ac468;
    color: white;
    align-items: center;
    }